.CreateTodoButton{
    background-color: #e0cade;
    position: fixed;
    border: none;
    cursor: pointer;
    font-size: 40px;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    display: flex;
    border-radius: 50%;
    color: #306754;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;
}

.CreateTodoButton:hover{
    transform: rotate(224deg);
}