.Add-container {
  text-align: center;
  border: 2px solid #efdddd;
  border-radius: 15px;
}

.newTask {
  width: 85%;
  height: 35px;
  border: 0;
  background-color: #214a4f;
}
.newTask:focus {
  outline: 0;
}
.newTask::placeholder {
  color: #9b9780;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

section {
  margin-left: 3%;
  margin-right: 3%;
}
